.App {
  text-align: center;
  max-width: 1920px;
  margin: auto;
  background-color: #ECEEF2;
  box-sizing: border-box;
  font-family: 'e-Ukraine-Regular', sans-serif;
  position: relative;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 50%;
  width: 350px;
  transform: translate(-50%, -50%);
  background-color: #eceef2;
  padding: 20px;
  border-radius: 8px;
  border: none;
  align-content: center;

  @media screen and (min-width:768px) {
    width: 480px;
    align-content: center;
  }

  &:focus-visible {
    outline: 1px solid #eceef2;
  }
}


.ReactModal__Content p {
  font-family: "e-Ukraine-Regular", sans-serif;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;

  @media screen and (min-width:768px) {
    text-align: start;
  }
}

.ReactModal__Content button {
  font-family: "e-Ukraine-Regular", sans-serif;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #0d0d0d;
  color: #fafbfc;
  border: none;
  border-radius: 5px;
  margin: auto;
  transition: 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ReactModal__Content button:hover {
  background-color: #97abc1;
  color: #0d0d0d;
}