@font-face {
  font-family: 'e-Ukraine-Regular';
  src: local('e-Ukraine-Regular'),
    url('./components/fonts/e-Ukraine_font/web/e-Ukraine-Regular.woff') format ('woff');
}


@font-face {
  font-family: 'e-Ukraine-Bold';
  src: local('e-Ukraine-Bold'),
    url('./components/fonts/e-Ukraine_font//web/e-Ukraine-Bold.woff') format ('woff');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


link {
  display: inline-block;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}